@import url(http://weloveiconfonts.com/api/?family=fontelico);
/* fontelico */
/* line 18, /Users/jeremy/Desktop/access/css/style.scss */
[class*="fontelico-"]:before {
  font-family: 'fontelico', sans-serif;
}

/* line 32, /Users/jeremy/Desktop/access/css/style.scss */
hr {
  margin: 0px;
  padding: 0px;
}

/* line 37, /Users/jeremy/Desktop/access/css/style.scss */
body {
  background: #dddddd;
  font-family: 'Roboto Slab', serif;
  font-size: .9em;
}

/* line 43, /Users/jeremy/Desktop/access/css/style.scss */
nav a:link,
nav a:hover,
nav a:visited,
nav a:active {
  color: #e3753c;
}

/* line 49, /Users/jeremy/Desktop/access/css/style.scss */
.maps-link {
  color: #e3753c;
  text-decoration: none;
}

/* line 54, /Users/jeremy/Desktop/access/css/style.scss */
.navigation {
  background: white;
}

/* line 58, /Users/jeremy/Desktop/access/css/style.scss */
nav {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, /Users/jeremy/.rvm/gems/ruby-2.1.1/gems/susy-2.1.1/sass/susy/output/support/_clearfix.scss */
nav::after {
  content: " ";
  display: block;
  clear: both;
}

/* line 62, /Users/jeremy/Desktop/access/css/style.scss */
.access-health-text {
  float: left;
  padding: .5em 1em .5em 0;
  text-decoration: none;
  display: inline-block;
}

/* line 68, /Users/jeremy/Desktop/access/css/style.scss */
.access-health-text:hover {
  background: none;
}

/* line 72, /Users/jeremy/Desktop/access/css/style.scss */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 78, /Users/jeremy/Desktop/access/css/style.scss */
nav ul li {
  display: inline;
}

/* line 81, /Users/jeremy/Desktop/access/css/style.scss */
nav ul li a {
  float: left;
  padding: .5em;
  text-decoration: none;
  display: inline-block;
}

/* line 87, /Users/jeremy/Desktop/access/css/style.scss */
nav ul li a:hover {
  background: #efefef;
}

/* line 91, /Users/jeremy/Desktop/access/css/style.scss */
.banner {
  background: transparent url("../img/spokane.jpg") 0 0 no-repeat fixed;
  text-align: center;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/spokane.jpg', sizingMethod='scale');
  height: 20em;
  width: 100%;
  display: table;
}

/* line 101, /Users/jeremy/Desktop/access/css/style.scss */
.banner-head {
  display: table-cell;
  vertical-align: middle;
  color: white;
  text-shadow: 0 2px 2px black;
}

/* line 110, /Users/jeremy/Desktop/access/css/style.scss */
.banner-price-simple {
  background: transparent url("../img/spokane.jpg") 0 0 no-repeat fixed;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/spokane.jpg', sizingMethod='scale');
  height: 7em;
}

/* line 116, /Users/jeremy/Desktop/access/css/style.scss */
.banner-price-complete {
  background: transparent url("../img/spokane.jpg") 0 0 no-repeat fixed;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/spokane.jpg', sizingMethod='scale');
  height: 7em;
}

/* line 128, /Users/jeremy/Desktop/access/css/style.scss */
#map-canvas {
  width: 100%;
  float: left;
  height: 20em;
  margin-bottom: 3em;
}

/* line 134, /Users/jeremy/Desktop/access/css/style.scss */
.contact-maps p,
.contact-maps h5 {
  padding-left: 1em;
  padding-right: 1em;
}

/* line 140, /Users/jeremy/Desktop/access/css/style.scss */
.google-map {
  height: 20em;
  overflow: hidden;
}

/* line 145, /Users/jeremy/Desktop/access/css/style.scss */
.google-map iframe,
.google-map object,
.google-map embed {
  width: 100%;
  height: 100%;
}

/* line 152, /Users/jeremy/Desktop/access/css/style.scss */
.google-map-left,
.google-map-right {
  background: white;
}

/* line 157, /Users/jeremy/Desktop/access/css/style.scss */
.google-map-left {
  width: 48.57143%;
  float: left;
  margin-right: 2.85714%;
}

/* line 160, /Users/jeremy/Desktop/access/css/style.scss */
.google-map-right {
  width: 48.57143%;
  float: right;
}

/* line 164, /Users/jeremy/Desktop/access/css/style.scss */
.maps-header {
  margin-bottom: .5em;
}

/* line 167, /Users/jeremy/Desktop/access/css/style.scss */
p.maps-para {
  padding-left: 0;
  margin-left: 0;
}

/* line 174, /Users/jeremy/Desktop/access/css/style.scss */
.form {
  margin: 2em 0 2em 0;
}

/* line 178, /Users/jeremy/Desktop/access/css/style.scss */
.form-data {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, /Users/jeremy/.rvm/gems/ruby-2.1.1/gems/susy-2.1.1/sass/susy/output/support/_clearfix.scss */
.form-data::after {
  content: " ";
  display: block;
  clear: both;
}

/* line 182, /Users/jeremy/Desktop/access/css/style.scss */
.form-element {
  height: 4em;
}

/* line 189, /Users/jeremy/Desktop/access/css/style.scss */
.form .form-data fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

/* line 195, /Users/jeremy/Desktop/access/css/style.scss */
.left-form {
  width: 48.57143%;
  float: left;
  margin-right: 2.85714%;
}

/* line 199, /Users/jeremy/Desktop/access/css/style.scss */
.right-form {
  width: 48.57143%;
  float: right;
}

/* line 203, /Users/jeremy/Desktop/access/css/style.scss */
.form input {
  width: 100%;
  float: left;
  padding: .5em 0 .5em 0;
  border: 1px solid #ccc;
}

/* line 209, /Users/jeremy/Desktop/access/css/style.scss */
.form-textarea textarea {
  width: 100%;
  float: left;
  height: 12em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
}

/* line 215, /Users/jeremy/Desktop/access/css/style.scss */
.form-textarea button {
  width: 22.85714%;
  float: right;
}

/* line 221, /Users/jeremy/Desktop/access/css/style.scss */
.contact {
  background: white;
  padding: 0 0 3em 0;
}

/* line 226, /Users/jeremy/Desktop/access/css/style.scss */
.contact-width {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, /Users/jeremy/.rvm/gems/ruby-2.1.1/gems/susy-2.1.1/sass/susy/output/support/_clearfix.scss */
.contact-width::after {
  content: " ";
  display: block;
  clear: both;
}

/* line 232, /Users/jeremy/Desktop/access/css/style.scss */
.location {
  width: 48.57143%;
  float: left;
  margin-right: 2.85714%;
}

/* line 235, /Users/jeremy/Desktop/access/css/style.scss */
.location-last {
  width: 48.57143%;
  float: right;
}

/* line 241, /Users/jeremy/Desktop/access/css/style.scss */
.about-pricing-left {
  width: 31.42857%;
  float: left;
  margin-right: 2.85714%;
}

/* line 245, /Users/jeremy/Desktop/access/css/style.scss */
.about-pricing-right {
  width: 31.42857%;
  float: right;
}

/* line 249, /Users/jeremy/Desktop/access/css/style.scss */
.service-element {
  width: 100%;
  float: left;
}

/* line 253, /Users/jeremy/Desktop/access/css/style.scss */
.pricing {
  background: white;
  padding: 3em 0 3em 0;
}

/* line 258, /Users/jeremy/Desktop/access/css/style.scss */
.pricing-info {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, /Users/jeremy/.rvm/gems/ruby-2.1.1/gems/susy-2.1.1/sass/susy/output/support/_clearfix.scss */
.pricing-info::after {
  content: " ";
  display: block;
  clear: both;
}

/* line 262, /Users/jeremy/Desktop/access/css/style.scss */
.pricing-tables-left {
  width: 65.71429%;
  float: left;
  margin-right: 2.85714%;
}

/* line 265, /Users/jeremy/Desktop/access/css/style.scss */
.pricing-tables-right {
  width: 65.71429%;
  float: right;
}

/* line 269, /Users/jeremy/Desktop/access/css/style.scss */
.pricing-table-left {
  width: 48.57143%;
  float: left;
  margin-right: 2.85714%;
}

/* line 273, /Users/jeremy/Desktop/access/css/style.scss */
.pricing-table-right {
  width: 48.57143%;
  float: right;
}

/* line 277, /Users/jeremy/Desktop/access/css/style.scss */
.pricing-table-header {
  color: white;
  text-align: center;
  padding: 1em 0 1em 0;
}

/* line 283, /Users/jeremy/Desktop/access/css/style.scss */
.pricing-header-color-one {
  background: #00748e;
}

/* line 286, /Users/jeremy/Desktop/access/css/style.scss */
.pricing-header-color-two {
  background: #e3753c;
}

/* line 290, /Users/jeremy/Desktop/access/css/style.scss */
.pricing-table-header h3 {
  margin: 0;
  padding-top: 0em;
  font-size: 1em;
  font-weight: normal;
}

/* line 297, /Users/jeremy/Desktop/access/css/style.scss */
.pricing-table-price {
  font-size: 2em;
  font-weight: 100;
}

/* line 301, /Users/jeremy/Desktop/access/css/style.scss */
.pricing-table-price span {
  text-transform: uppercase;
  font-size: 0.2em;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  *color: #fff;
}

/* line 309, /Users/jeremy/Desktop/access/css/style.scss */
.pricing-table-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* line 316, /Users/jeremy/Desktop/access/css/style.scss */
.pricing-table-list li {
  padding: 0.8em 0;
  background: #f7f7f7;
  border-bottom: 1px solid #e7e7e7;
}

/* line 322, /Users/jeremy/Desktop/access/css/style.scss */
.button-choose {
  width: 100%;
  float: left;
  padding: .8em;
  background: #efefef;
  border: 1px solid #ccc;
  color: #222;
}

/* line 330, /Users/jeremy/Desktop/access/css/style.scss */
.button-choose:hover {
  background: #dedede;
}

/* line 335, /Users/jeremy/Desktop/access/css/style.scss */
.who {
  background: white;
  padding: 3em 0 3em 0;
}

/* line 339, /Users/jeremy/Desktop/access/css/style.scss */
.who-width {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, /Users/jeremy/.rvm/gems/ruby-2.1.1/gems/susy-2.1.1/sass/susy/output/support/_clearfix.scss */
.who-width::after {
  content: " ";
  display: block;
  clear: both;
}

/* line 342, /Users/jeremy/Desktop/access/css/style.scss */
.bio {
  width: 22.85714%;
  float: left;
  margin-right: 2.85714%;
}

/* line 345, /Users/jeremy/Desktop/access/css/style.scss */
.bio-last {
  width: 22.85714%;
  float: right;
}

/* line 348, /Users/jeremy/Desktop/access/css/style.scss */
.group-photo-img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 2em;
  width: 314px;
}

/* line 358, /Users/jeremy/Desktop/access/css/style.scss */
.footer {
  margin: 2em 0 2em 0;
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, /Users/jeremy/.rvm/gems/ruby-2.1.1/gems/susy-2.1.1/sass/susy/output/support/_clearfix.scss */
.footer::after {
  content: " ";
  display: block;
  clear: both;
}

/* line 363, /Users/jeremy/Desktop/access/css/style.scss */
.footer-location {
  width: 22.85714%;
  float: left;
  margin-right: 2.85714%;
  font-size: .6em;
}

/* line 368, /Users/jeremy/Desktop/access/css/style.scss */
.footer-location-last {
  width: 22.85714%;
  float: right;
  font-size: .6em;
}

/* line 372, /Users/jeremy/Desktop/access/css/style.scss */
.footer-location-last h6, .footer-location h6 {
  margin-bottom: .5em;
}
