<div class="contact">
	<div class="contact-width">
		<div class="contact-info">
			<div class="location">
				<h3>Valley Location<br>
				<small>12121 E Broadway Spokane, Wa 99206<br>
				(509) 921-9800</small></h3>
				<dl>
					<dt><b>Services Offered</b></dt>
					<dd>Massage Therapy</dd>
				</dl>
			</div>

			<div class="location-last">
				<h3>Division Location<br>
				<small>1402 N Division St Spokane, WA 99202<br>
				(509) 452-3246</small></h3>
				<dl>
					<dt><b>Services Offered</b></dt>
					<dd>Nutrition</dd>
					<dd>Bemer</dd>
					<dd>Microvas</dd>
				</dl>
			</div>
		</div>
	</div>
</div>

<div class="form">
	<div class="form-data">
		<form action="http://getsimpleform.com/messages?form_api_token=8878bbed8aaa422871a3a0b3c29feafd" method="post">
			<fieldset class="left-form">
				<h4>Your Details</h4>
				<input type='hidden' name='redirect_to' value='{{ site.baseurl }}/' />
				<div class="form-element">
					<input id="name" type="text" name="Name" placeholder="Your Name">
				</div>
				
				<div class="form-element">
					<input id="email" type="email" name="Email" placeholder="Your Email">
				</div>
					

				<div class="form-element">
					<input id="phone" type="phone" name="Phone" placeholder="(000) 000 0000">
				</div>
			</fieldset>

			<fieldset class="right-form">
				<h4>How can we help?</h4>
				<div class="form-textarea">
					<textarea id="email" type="text" name="UserText" ></textarea>
					<button type="submit" class="button-choose">Submit</button>
				</div>
			</fieldset>
		</form>	
	</div>
</div>