<div class="contact">
	<div class="contact-width">
		<div class="contact-info">
			<div class="location">
				<h3>Division Location<br>
				<small>1402 N Division St Spokane, WA 99202<br>
				(509) 452-3246</small></h3>
				<dl>
					<dt><b>Services Offered</b></dt>
					<dd>Nutrition</dd>
					<dd>Bemer</dd>
					<dd>Microvas</dd>
				</dl>
			</div>

			<div class="location-last">
				<h3>Valley Location<br>
				<small>12121 E Broadway Spokane, Wa 99206<br>
				(509) 921-9800</small></h3>
				<dl>
					<dt><b>Services Offered</b></dt>
					<dd>Massage Therapy</dd>
				</dl>
			</div>
		</div>
	</div>
</div>