<hr>
<div class="footer">
	<div class="footer-location">
		<h6><a href="https://www.google.com/maps/place/1315+N+Division+St/@47.67007,-117.411645,17z/data=!3m1!4b1!4m2!3m1!1s0x549e18ee29ce0f2b:0x2fec734d6c4e49e8">Division Location</a></h6>
		<p>1315 N Division St Spokane, WA 99202<br>
		(509) 624-0908</p>
	</div>

	<div class="footer-location">
		<h6><a href="https://www.google.com/maps/place/12121+E+Broadway+Ave/@47.664786,-117.240785,17z/data=!3m1!4b1!4m2!3m1!1s0x549e2013454ad5d1:0x2f25b32122906c67">Valley Location</a></h6>
		<p>12121 E Broadway Spokane, Wa 99206<br>
		(509) 921-9800</p>
	</div>
	
	<div class="footer-foot">
		<p class="footer-links">&copy; Access Health Solutions 2014 <a href="{{ site.baseurl }}/who">Who We Are</a> | <a href="{{ site.baseurl }}/what">What We Do</a> | <a href="{{ site.baseurl }}/contact">Contact</a></p>
	</div>	
</div>