<hr>
<div class="footer">
	<div class="footer-location">
		<h6><a href="#">Valley Massage Clinic</a></h6>
		<p>12121 E Broadway Spokane, Wa 99206<br>
		(509) 921-9800</p>
	</div>

	<div class="footer-location">
		<h6><a href="#">One Medical Group</a></h6>
		<p>1402 N Division St Spokane, WA 99202<br>
		(509) 452-3246</p>
	</div>

	<div class="footer-location">
		<h6><a href="#">CityMD</a></h6>
		<p>1402 N Division St Spokane, WA 99202<br>
		(509) 234-5423</p>
	</div>

	<div class="footer-location-last">
		<h6><a href="#">Smart Health Medical</a></h6>
		<p>1402 N Division St Spokane, WA 99202<br>
		(509) 653-3454</p>
	</div>

	<small>&copy; Access Health Solutions 2014</small>
</div>