<hr>
<div class="footer">
	<div class="footer-location">
		<h6>Valley Massage Clinic</h6>
		<p>12121 E Broadway Spokane, Wa 99206<br>
		(509) 921-9800</p>
	</div>

	<div class="footer-location">
		<h6>Valley Massage Clinic</h6>
		<p>12121 E Broadway Spokane, Wa 99206<br>
		(509) 921-9800</p>
	</div>

	<div class="footer-location">
		<h6>Valley Massage Clinic</h6>
		<p>12121 E Broadway Spokane, Wa 99206<br>
		(509) 921-9800</p>
	</div>

	<div class="footer-location-last">
		<h6>Valley Massage Clinic</h6>
		<p>12121 E Broadway Spokane, Wa 99206<br>
		(509) 921-9800</p>
	</div>
</div>