<div class="pricing">
	<div class="pricing-info">
		<div class="pricing-tables">
			<div class="pricing-table-left">
				<div class="pricing-table-header pricing-header-color-one">
					<span class="pricing-table-price">
						Simple $80 <span>per month</span>
					</span>
				</div>
				<ul class="pricing-table-list">
					<li>One Massage</li>
					<li>One Nutritionist Meeting</li>
					<li>Two Bemer</li>
					<li>Two Microvas</li>
					<li>Unlimited Health Videos</li>
				</ul>
				<button class="button-choose">Choose</button>
			</div>

			<div class="pricing-table-right">
				<div class="pricing-table-header pricing-header-color-two">
					<span class="pricing-table-price">
						Complete $120 <span>per month</span>
					</span>
				</div>
				<ul class="pricing-table-list">
					<li>Two Massage</li>
					<li>Two Nutritionist Meeting</li>
					<li>Four Bemer</li>
					<li>Four Microvas</li>
					<li>Unlimited Health Videos</li>
				</ul>
				<button class="button-choose">Choose</button>
			</div>
		</div>
	</div>
</div>