<div class="pricing">
	<div class="pricing-info">
		<div class="about-pricing-left">
			<h5><span class="fontelico-emo-grin"></span> Complete Choice</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus similique neque esse hic natus quasi at quibusdam minima?</p>
		</div>

		<div class="pricing-tables-right">
			<div class="pricing-table-header pricing-header-color-two">
				<span class="pricing-table-price">
					Complete $120 <span>per month</span>
				</span>
			</div>
			
			<div class="service-element">
				<dl>
					<dt><b>Two Massages</b></dt>
					<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, hic quas facere deserunt porro temporibus animi ad rerum inventore nulla dolorem fuga dolorum ullam est voluptate. Ut, excepturi aut perspiciatis.</dd>
				</dl>
			</div>

			<div class="service-element">
				<dl>
					<dt><b>Two Nutritionist Meetings</b></dt>
					<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, soluta non dolore laboriosam fugiat quisquam sapiente veritatis neque ipsam blanditiis rem temporibus accusamus debitis est vitae in nam. Molestias, odit?</dd>
				</dl>
			</div>

			<div class="service-element">
				<dl>
					<dt><b>Four Bemers</b></dt>
					<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, quo, officia, praesentium minima provident sapiente dolorum placeat animi enim culpa ex minus necessitatibus iste sequi harum itaque quaerat! Sapiente, iste.</dd>
				</dl>
			</div>

			<div class="service-element">
				<dl>
					<dt><b>Four Microvas</b></dt>
					<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, possimus, cupiditate, fugit, laborum est qui quisquam non esse quia eius similique sequi nam! Perferendis, accusamus autem veniam ullam aut accusantium.</dd>
				</dl>
			</div>

			<div class="service-element">
				<dl>
					<dt><b>Unlimited Health Videos</b></dt>
					<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, reiciendis, adipisci magnam maiores ab rem perspiciatis dolores sequi tempora ipsa dolorem quae repellendus quaerat incidunt eum libero ut facilis facere.</dd>
				</dl>
			</div>
		</div>
	</div>
</div>