<div class="pricing">
	<div class="pricing-info">
		<div class="about-pricing-left">
			<h5><span class="fontelico-emo-grin"></span> Complete Choice</h5>
			<p>Double the benefits of our Simple Plan without doubling the costs. With Complete Choice you get to fast track the road to healing.</p>
		</div>

		<div class="pricing-tables-right">
			<div class="pricing-table-header pricing-header-color-two">
				<span class="pricing-table-price">
					Complete $120 <span>per month</span>
				</span>
			</div>
			
			<div class="service-element">
				<dl>
					<dt><b>Two Massages</b></dt>
					<dd>Massage therapy helps you relax, re-align and rejuvenate. There are many positive aspects to receiving massage therapy on an ongoing basis, and with the busy lives we lead, we can all benefit from a little stress-management.</dd>
				</dl>
			</div>

			<div class="service-element">
				<dl>
					<dt><b>Two Nutritionist Meetings</b></dt>
					<dd>Whatever your unique situation, a registered dietitian (RD) may help you increase the enjoyment and success of a dietary overhaul.</dd>
				</dl>
			</div>

			<div class="service-element">
				<dl>
					<dt><b>Four Bemers</b></dt>
					<dd>BEMER therapy stimulates the circulation in the smallest blood vessels and improves the supply and waste disposal for organs and tissue. A wide range of the population of all ages can benefit from this.</dd>
				</dl>
			</div>

			<div class="service-element">
				<dl>
					<dt><b>Four Microvas</b></dt>
					<dd>The MicroVas® Treatment System is a non-invasive vascular treatment device delivering electromagnetic energy to targeted areas within the human body.</dd>
				</dl>
			</div>

			<div class="service-element">
				<dl>
					<dt><b>Unlimited Health Videos</b></dt>
					<dd>See Discovery Fit and Health videos to learn about diseases, wellness, parenting, relationships, medical technology and more.</dd>
				</dl>
			</div>
		</div>
	</div>
</div>