<div class="pricing">
	<div class="pricing-info">
		<div class="pricing-tables-left">
			<div class="pricing-table-left">
				<div class="pricing-table-header pricing-header-color-one">
					<span class="pricing-table-price">
						Simple $80 <span>per month</span>
					</span>
				</div>
				<ul class="pricing-table-list">
					<li>One Massage</li>
					<li>One Nutritionist Meeting</li>
					<li>Two Bemer</li>
					<li>Two Microvas</li>
					<li>Unlimited Health Videos</li>
				</ul>
				<a href="{{ site.baseurl }}/pricing-simple"><button class="button-choose">Choose Simple</button></a>
			</div>

			<div class="pricing-table-right">
				<div class="pricing-table-header pricing-header-color-two">
					<span class="pricing-table-price">
						Complete $120 <span>per month</span>
					</span>
				</div>
				<ul class="pricing-table-list">
					<li>Two Massage</li>
					<li>Two Nutritionist Meeting</li>
					<li>Four Bemer</li>
					<li>Four Microvas</li>
					<li>Unlimited Health Videos</li>
				</ul>
				<a href="{{ site.baseurl }}/pricing-complete"><button class="button-choose">Choose Complete</button></a>
			</div>
		</div>

		<div class="about-pricing-right">
			<h5><span class="fontelico-emo-laugh"></span> Simple Choice</h5>
			<p>Our Simple Choice plan offers the essentials for body healing. With Simple Choice you get the benefits of Unlimited Health Videos.</p>

			<h5><span class="fontelico-emo-grin"></span> Complete Choice</h5>
			<p>Double the benefits of our Simple Plan without doubling the costs. With Complete Choice you get to fast track the road to healing.</p>
		</div>
	</div>
</div>