<div class="pricing">
	<div class="pricing-info">
		<div class="about-pricing-left">
			<h5><span class="fontelico-emo-laugh"></span> Simple Choice</h5>
			<p>Our Simple Choice plan offers the essentials for body healing. With Simple Choice you have access to Unlimited Health Videos.</p>
		</div>

		<div class="pricing-tables-right">
			<div class="pricing-table-header pricing-header-color-one">
				<span class="pricing-table-price">
					Simple $80 <span>per month</span>
				</span>
			</div>
			
			<div class="service-element">
				<dl>
					<dt><b>One Massage</b></dt>
					<dd>Massage therapy helps you relax, re-align and rejuvenate. There are many positive aspects to receiving massage therapy on an ongoing basis, and with the busy lives we lead, we can all benefit from a little stress-management.</dd>
				</dl>
			</div>

			<div class="service-element">
				<dl>
					<dt><b>One Nutritionist Meeting</b></dt>
					<dd>Whatever your unique situation, a registered dietitian (RD) may help you increase the enjoyment and success of a dietary overhaul.</dd>
				</dl>
			</div>

			<div class="service-element">
				<dl>
					<dt><b>Two Bemer</b></dt>
					<dd>BEMER therapy stimulates the circulation in the smallest blood vessels and improves the supply and waste disposal for organs and tissue. A wide range of the population of all ages can benefit from this.</dd>
				</dl>
			</div>

			<div class="service-element">
				<dl>
					<dt><b>Two Microvas</b></dt>
					<dd>The MicroVas® Treatment System is a non-invasive vascular treatment device delivering electromagnetic energy to targeted areas within the human body.</dd>
				</dl>
			</div>

			<div class="service-element">
				<dl>
					<dt><b>Unlimited Health Videos</b></dt>
					<dd>See Discovery Fit and Health videos to learn about diseases, wellness, parenting, relationships, medical technology and more.</dd>
				</dl>
			</div>
		</div>
	</div>
</div>