<div class="what">
	<div class="what-width">

		<h3>What Makes Us Different</h3>
		<p>Ultimately, Joe Chip learns that Runciter was, in fact, the sole survivor of the explosion on the moon, and the messages to the group are the result of his attempts to communicate with them while they are in half-life. The regressing world in which they find themselves is discovered to be the product of Jory Miller, another half-lifer whom Runciter encounters earlier in the story while communicating with Ella.</p>

		<div class="mission">
			<h4><span class="fontelico-emo-sunglasses"></span> Our Mission</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, doloremque eligendi ullam ea praesentium recusandae velit distinctio harum quibusdam earum. Explicabo, autem ipsa dicta repellat et ipsum ea repudiandae voluptatibus!</p>
		</div>

		<div class="services">
			<h4>Services</h4>
			<div class="service">
				<h6>Massage Therapy</h6>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur?</p>
				<ul>
					<li>Lorem ipsum.</li>
					<li>Lorem ipsum dolor.</li>
					<li>Lorem ipsum dolor.</li>
					<li>Lorem ipsum dolor.</li>
				</ul>
			</div>

			<div class="service">
				<h6>Nutrition</h6>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, incidunt repellendus officiis.</p>
				<ul>
					<li>Lorem ipsum dolor.</li>
					<li>Lorem ipsum.</li>
				</ul>
			</div>

			<div class="service">
				<h6>Bemer</h6>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				<ul>
					<li>Lorem ipsum.</li>
					<li>Lorem ipsum dolor.</li>
					<li>Lorem ipsum dolor sit.</li>
				</ul>
			</div>

			<div class="service">
				<h6>Microvas</h6>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit?</p>
				<ul>
					<li>Lorem ipsum.</li>
				</ul>
			</div>
		</div>
	</div>
</div>