<div class="what">
	<div class="what-width">

		<div class="mission">
			<h4><span class="fontelico-emo-sunglasses"></span> Our Mission</h4>
			<p>Access Health Choices offers health plans designed for the individual based on their goals.  We pride ourselves on our unique massages, Microvas/Bemer therapy, nutritional counseling, and our exceptional customer service.</p>

			<div class="what-photo-img">
				<img src="{{ site.baseurl }}/img/groupPhoto.jpg" />
			</div>
		</div>

		<div class="services">
			<h4>Services</h4>
			<div class="service">
				<h6>Hot Stone Massage</h6>
				<p>This is one of a variety of massages we make available.</p>
			</div>

			<div class="service">
				<h6>Nutritional Counseling</h6>
				<p>Whatever your unique situation, a registered dietitian (RD) may help you increase the enjoyment and success of a dietary overhaul.</p>
			</div>

			<div class="service">
				<h6>Bemer Technology</h6>
				<p>BEMER therapy is not ailment- specific. It is a wellness therapy. It works holistically, for the whole body, at the same time. ANY Bemer treatment done will always be of benefit to the body as a whole.</p>
			</div>

			<div class="service">
				<h6>Microvas Therapy</h6>
				<p>Elevates blood flow and tissue; oxygenation of treatment area; Accelerates lymphatic drainage; Compatible with conventional wound care; non-invasive high patient comfort; Broad application for pain and healing.</p>
			</div>

			<div class="service">
				<h6>Ergonomics</h6>
				<p>Create a structured workout plan.</p>
			</div>
		</div>
	</div>
</div>