<div class="who">
	<div class="who-width">
		<div class="group-photo">
			<div class="group-photo-img">
				<span class="round"><img src="http://www.chem.ucla.edu/dept/Faculty/houk.html/group/houkgroup042005.jpg" /></span>
			</div>
		</div>

		<div class="bio">
			<h4>Paul Meltingtallow<br>
				<small>Massage Therapist.</small></h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam est laudantium optio in quisquam ratione itaque reprehenderit dicta odio. Quaerat, nisi temporibus deleniti fugiat error voluptates minus praesentium quasi dignissimos.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, rem, quasi, perspiciatis possimus non nemo alias omnis dolores maxime quibusdam labore aliquid fugiat aperiam veniam quisquam ipsum nesciunt rerum harum?</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nobis.</p>
		</div>

		<div class="bio">
			<h4>Dr. Ham Balogne<br>
				<small>Massage Therapist.</small></h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, atque quam necessitatibus non reprehenderit voluptate et in accusamus optio doloribus minus nam saepe repudiandae deleniti excepturi ullam eligendi voluptatem! Nesciunt.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, aperiam eos soluta minima temporibus labore ipsam omnis distinctio vero facilis tenetur quidem a placeat similique autem adipisci alias blanditiis odio.</p>
		</div>

		<div class="bio">
			<h4>Dr. Cool Fries<br>
				<small>Massage Therapist.</small></h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, animi, accusamus enim voluptate est beatae eaque eum nostrum nihil voluptas iste pariatur unde omnis quasi modi voluptatum qui? Quibusdam, eligendi?</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, officia, asperiores, illum sit cupiditate earum quibusdam alias impedit quasi amet ipsam fugiat aperiam vero aliquam molestiae id non eaque laboriosam!</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, incidunt, est, dignissimos dolorum recusandae pariatur alias iusto tenetur maxime quo illum voluptatem quibusdam illo esse temporibus eos tempore ex deserunt.</p>
		</div>

		<div class="bio-last">
			<h4>Dr. San Francos<br>
				<small>Massage Therapist.</small></h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, illo.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, commodi, eos veritatis ut repellat repudiandae nihil eius minus blanditiis ipsam nemo quis fugiat dolor aut temporibus! Temporibus, aspernatur itaque quisquam.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, enim, autem doloremque voluptatibus porro placeat nesciunt veritatis excepturi quos delectus!</p>
		</div>
	</div>
</div>