<div class="who">
	<div class="who-width">

		<h3>About our team</h3>
		<p>Our goal is simple. We create a complete health package tailored to our clients needs. Our team is small enough to create strong relationships with out clients, yet as we grow we continue our reach to community health.</p>

		<div class="group-photo">
			<div class="group-photo-img">
				<img src="{{ site.baseurl }}/img/groupPhoto.jpg" />
			</div>
		</div>

		<div class="bio">
			<h4>Paul<br> Meltingtallow<br>
				<small>Massage Therapist<br><small>School of Massage</small></small></h4>
			<p>The Valley Massage Clinic has been servicing the needs of the surrounding Community for over 18 years. Our qualified Therapists are certified and trained in several modalities that would enable them to provide you with a massage to your specifications.</p>
		</div>

		<div class="bio">
			<h4>Dr. Terri<br>Turner<br>
				<small>Medical Director<br><small>University in Washington</small></small></h4>
			<p>Terri, serving as Medical Director to Access Health Choices, is an integrative osteopathic physician who has been in private practice for over 20 years. She is board certified in Internal Medicine and Osteopathic manipulation including cranial sacral. She integrates traditional, herbal and nutritional medicine. She previously has been a professor at Touro University and Pacific Northwest University in Washington.</p>
		</div>

		<div class="bio">
			<h4>Kevin<br>Brick<br>
				<small>Occupational Therapy<br><small>University at Buffalo</small></small></h4>
			<p>Kevin received his bachelor’s in Occupational Therapy and an advanced master’s in Research and Technology at SUNY in Buffalo. He has extensive clinical expertise in orthopedic and neurological conditions throughout the lifespan. He is most proud of his accomplishments with assisting clients to modify their lifestyles to actively participate in therapeutic fitness while experiencing a more fulfilling quality of life.</p>
		</div>

		<div class="bio-last">
			<h4>Torie<br>Foote<br>
				<small>Holistic Life Coach<br><small>Behavioral Health field</small></small></h4>
			<p>Torie has over 20 years working in the Allied and Behavioral Health field in Alaska and Colorado delivering and developing programs to help people achieve balance.</p>
		</div>
	</div>
</div>