<div class="who">
	<div class="who-width">

		<h3>About our team</h3>
		<p>Battlestar Galactica is an American science fiction franchise created by Glen A. Larson. The franchise began with the original television series in 1978, and was later followed by a short-run sequel series (Galactica 1980), a line of book adaptations, original novels, comic books, a board game, and video games.</p>

		<div class="group-photo">
			<div class="group-photo-img">
				<img src="{{ site.baseurl }}/img/groupPhoto.jpg" />
			</div>
		</div>

		<div class="bio">
			<h4>Paul<br> Meltingtallow<br>
				<small>Massage Therapist<br><small>School of Massage</small></small></h4>
			<p>Graduated in Medicine and Surgery at the Sapienza University of Rome in 1983 and holds both the General Pathology and the Ophthalmology specializations from the same university.</p>
			<p>In 1997 he completed two post-university masters in Ophthalmic Techniques of Invasive Surgery and Ophthalmic Techniques of Non-Invasive Surgery, from the Post-University Research Centre of the Sapienza University of Rome.</p>
			<p>He accepted and graduated five years later in 1989 as a medical doctor. He completed his internship at Baragwanath Hospital in 1990.</p>
		</div>

		<div class="bio">
			<h4>Dr Marco<br> Abbondanza<br>
				<small>Eye Surgeon<br><small>Sapienza University of Rome</small></small></h4>
			<p>From 1984, together with a team of Italian physicians, Abbondanza studied and developed a new incisional procedure capable of correcting visual impairments caused by keratoconus and maintaining stable the evolution of the pathology.</p>
			<p>Innovator in the treatment of myopia, astigmatism, hyperopia and cataract, Abbondanza introduced in Italy the excimer laser and PRK in 1989 and the Corneal collagen cross-linking, parasurgical treatment for keratoconus, in 2005</p>
		</div>

		<div class="bio">
			<h4>Dr Gary<br> Aaron<br>
				<small>General Practitioner<br><small>University of the Witwatersrand</small></small></h4>
			<p>In 1984, Dr Aaron was accepted into the University of the Witwatersrand and started a 3 year Bachelor of Science degree. In his first year he excelled in his course and was invited to enter into the Medical Faculty. He accepted and graduated five years later in 1989 as a medical doctor. Throughout his time at medical school he continued to pursue his sporting activities. During this time he completed more than 30 marathons and ultramarathons including two Comrades Marathons (90 km) in 1984 and 1985. He also completed two iron man races (in 1985 and 1986) and multiple white water canoe races.</p>
		</div>

		<div class="bio-last">
			<h4>Dr Lall<br> Sawh<br>
				<small>General Urologist<br><small>West Indies School of Medicine</small></small></h4>
			<p>Urology in Trinidad was in its infancy, and the departure of the only two practicing urologists left a void in the field. Together with the late General Surgeon Dr. Andrew Yip-Hoi, Sawh was left as the sole urologist, giving him the opportunity to continue the work left by his predecessors as well as the opportunity to pioneer several urological procedures at the San Fernando General Hospital.</p>
			<p>A true general urologist, Sawh's practice encompasses all facets of urology, including urologic oncology, minimally invasive and laparoscopic surgery, reconstructive urology, stone disease, paediatric urology, erectile dysfunction and sexual health. </p>
		</div>
	</div>
</div>