/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "susy";
@import "breakpoint";
@import "normalize";
@import "typeplate";
@import "layout";

$nav-bg-color: #fff;
$contact-bg-color: #fff;
$nav-link-hover-color: #efefef;
$main-bg-color: #ddd;
$body-width: 60em;
$main-page-bg-color: #fff;
$pricing-table-head-bg-color: #ccc;
$pricing-header-color-one: #00748e;
$pricing-header-color-two: #e3753e;
$main-link-color: $pricing-header-color-two;

@import url(http://weloveiconfonts.com/api/?family=fontelico);

/* fontelico */
[class*="fontelico-"]:before {
  font-family: 'fontelico', sans-serif;
}

$susy: (
  container: auto,
  columns: 12,
  gutters: 1/2,
  math: static fluid,
);

hr {
  margin: 0px;
  padding: 0px;
}

body {
  background: $main-bg-color;
  font-family: 'Roboto Slab', serif;
  font-size: .9em;
}

nav a:link,
nav a:hover,
nav a:visited,
nav a:active {
  color: $main-link-color;
}
.maps-link{
  color: $main-link-color;
  text-decoration: none;
}

.navigation {
  background: $nav-bg-color;
}

nav {
  @include container($body-width);
}

.access-health-text{
  float: left;
  padding: .5em 1em .5em 0;
  text-decoration: none;
  display: inline-block;
}
.access-health-text:hover{
  background: none;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li{
  display: inline;
}
nav ul li a{
  float: left;
  padding: .5em;
  text-decoration: none;
  display: inline-block;
}
nav ul li a:hover{
  background: $nav-link-hover-color;
}

.banner {
  background: transparent url('../img/spokane.jpg') 0 0 no-repeat fixed;
  text-align: center;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/spokane.jpg', sizingMethod='scale');
  height: 20em;
  width: 100%;
  display: table;
}

.banner-head {
  display: table-cell;
  vertical-align: middle;
  color: white;
  text-shadow: 0 2px 2px black;
}

//###################### Pricing Page ################################

.banner-price-simple {
  background: transparent url('../img/spokane.jpg') 0 0 no-repeat fixed;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/spokane.jpg', sizingMethod='scale');
  height: 7em;
}

.banner-price-complete {
  background: transparent url('../img/spokane.jpg') 0 0 no-repeat fixed;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/spokane.jpg', sizingMethod='scale');
  height: 7em;
}


//###################### Contact Maps ################################

.contact-maps{
  //display: inline;
}
#map-canvas{
  @include span(12);
  height: 20em;
  margin-bottom: 3em;
}

.contact-maps p,
.contact-maps h5{
  padding-left: 1em;
  padding-right: 1em;
}

.google-map {
    height: 20em;
    overflow: hidden;
}

.google-map iframe,   
.google-map object,  
.google-map embed {
    width: 100%;
    height: 100%;
}

.google-map-left,
.google-map-right{
  background: white;
}

.google-map-left {
  @include span(6);
}
.google-map-right {
  @include span(6 at 7);
}

.maps-header{
  margin-bottom: .5em;
}
p.maps-para{
  padding-left: 0;
  margin-left: 0;
}

//###################### Contact Form ################################

.form{
  margin: 2em 0 2em 0;
}

.form-data{
  @include container($body-width);
}

.form-element{
  height: 4em;
}

.form .form-data fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.left-form {
  @include span(6);
}

.right-form {
  @include span(6 at 7);
}

.form input {
  @include span(12);
  padding: .5em 0 .5em 0;
  border: 1px solid #ccc;
}

.form-textarea textarea {
  @include span(12);
  height: 12em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
}
.form-textarea button {
  @include span(3 at 10);
}

//###################### Contact Info ################################

.contact{
  background: $contact-bg-color;
  padding: 0 0 3em 0;
}

.contact-width {
  @include container($body-width);
}

.location{
  @include span(6);
}
.location-last{
  @include span(6 at 7);
}

//###################### Main Page Info ################################

.about-pricing-left{
  @include span(4);
}

.about-pricing-right{
  @include span(4 at 9);
}

.service-element{
  @include span(12);
}

.pricing{
  background: $main-page-bg-color;
  padding: 3em 0 3em 0;
}

.pricing-info{
  @include container($body-width);
}

.pricing-tables-left{
  @include span(8);
}
.pricing-tables-right{
  @include span(8 at 5);
}

.pricing-table-left {
  @include span(6);
}

.pricing-table-right {
  @include span(6 at 7);
}

.pricing-table-header {
  color: white;
  text-align: center;
  padding: 1em 0 1em 0;
}

.pricing-header-color-one {
  background: $pricing-header-color-one;
}
.pricing-header-color-two {
  background: $pricing-header-color-two;
}

.pricing-table-header h3 {
  margin: 0;
  padding-top: 0em;
  font-size: 1em;
  font-weight: normal;
}

.pricing-table-price {
  font-size: 2em;
  font-weight: 100;
}
.pricing-table-price span {
  text-transform: uppercase;
  font-size: 0.2em;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  *color: #fff;
}

.pricing-table-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.pricing-table-list li {
  padding: 0.8em 0;
  background: #f7f7f7;
  border-bottom: 1px solid #e7e7e7;
}

.button-choose {
  @include span(12);
  padding: .8em;
  background: $nav-link-hover-color;
  border: 1px solid #ccc;
  color: #222;
}

.button-choose:hover {
  background: #dedede;
}

//###################### who ################################
.who {
  background: $main-page-bg-color;
  padding: 3em 0 3em 0;
}
.who-width {
  @include container($body-width);
}
.bio {
  @include span(3);
}
.bio-last {
  @include span(3 at 10);
}
.group-photo-img{
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 2em;
  width: 314px;
}

//###################### what ################################
.what {
  background: $main-page-bg-color;
  padding: 3em 0 3em 0;
}
.what-width {
  @include container($body-width);
}

.mission{
  @include span(4);
}
.services {
  @include span(8 at 5);
}
.what-photo{
  @include span(4);
}
.what-photo-img{
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 2em;
  width: 200px;
}

.what-photo-img img {
  width: 200px;
}

.service h6 {
  margin-bottom: .5em;
}

//###################### Footer #################################

.footer {
  margin: 2em 0 2em 0;
  @include container($body-width);
}

.footer-location {
  @include span(3);
  font-size: .6em;
}

.footer-location-last {
  @include span(3 at 10);
  font-size: .6em;
}
.footer-location-last h6, .footer-location h6 {
  margin-bottom: .5em;
}

.footer a:link,
.footer a:visited,
.footer a:hover,
.footer a:active {
  color: $pricing-header-color-one;
  text-decoration: none;
}

.footer-foot {
  @include span(6 at 7);
}

.footer-links a:link,
.footer-links a:visited,
.footer-links a:hover,
.footer-links a:active {
  color: #555;
}

.footer-links {
  font-size: .8em;
}





