<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ page.title }}</title>

	<script src="js/asyncLoader.min.js"></script>
	<script type="text/javascript"
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLXuuLqKySehLZ4vv-eJyST8mvUYY8060&sensor=true">
	</script>
	<script>
		asyncLoader(
			[
				'/css/screen.css',
				'http://fonts.googleapis.com/css?family=Roboto+Slab:400,100',
				'/js/maps.js'
			]
		);
	</script>

</head>
<body>
  {% include navigation.html %}
  {{ content }}
  {% include footer.html %}
</body>
</html>